# OS
.DS_Store
Thumbs.db

# IDEs
.sass-cache
images_to_optimze/
bower_components/
node_modules/
npm-debug.log
.ftppass

# files


# Runtime data
bower/
.grunt/
pids
*.pid
*.seed
.vscode 
.grunt
.sass-cache
secrets.json

# templates
templates/.htaccess
templates/music_academy.sql
templates/index.html