# OS
.DS_Store
Thumbs.db

# IDEs
.sass-cache
images_to_optimze/
bower_components/
node_modules/
npm-debug.log
.ftppass

# files
/files/public/css/*

/files/public/css/styles.css

css/

bower/
music_academy.sql
.grunt/