/*	-------------------------------------------------------------------------
 * 								logo
 *	=========================================================================
 */

.logo {
	
	img {
		max-width: 400px;
		padding-top: 2rem;
		padding-bottom: 1.5rem;
		transition: .3s ease-out;
		.header--narrow  & {
			width: 4rem;
		}

	}
}
.header--narrow {
	
}

