.mod_search {

	.formbody {
		@include make-row();
	}
	.widget-text,
	.widget-submit {
		@include make-col-ready();
		// margin: initial;
	}
	
	.widget-text {
		@include make-col(7);
		input:not([type=radio]):not([type=checkbox]) {
			width: 100%;
			margin: 0;
			@extend	.form-control;
		}
	}
	.widget-submit {
		@include make-col(5);
		padding-left: 0;
		button {
			margin: 0;
			width: 100%;
			@extend .btn;
			@extend .btn-secondary;
		}
	}
}