/*    -------------------------------------------------------------------------
 *                             pagination
 *    =========================================================================
 */

/*
 * default
 */
.pagination {
	margin-top: 1.5em;


	p {
        float: left;
    }
    ul {        
        $divider : "\00B7";
        $space   : 0.2em;

        float: right;
        list-style-type: none;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;

        &:after {
            content: "";
            display: table;
            clear: both;
        }

        > li {
          float: left;
        }
        > li + li:before {
          content: $divider;
          display: inline-block;
          margin-left: $space;
          margin-right: $space;
        }

        li.first,li.previous, li.previous + li, li.next, li.last {
            &:before {
                content: '';
            }
        }

    }
}

/*
 * custom
 */
