/*   -------------------------------------------------------------------------
 * 									ce_gallery
 *	 =========================================================================
 */

/* 
 * list
 */
.ce_gallery {

	> ul {
		list-style:none;
		margin-right: -$layout_gutter;
	  	margin-left: -$layout_gutter;
	  	padding-left: 0;

	  	&:before,
		&:after {
			display: table;
			content: " ";
		}
		&:after {
		  	clear: both;
		}
	}

	li {
		float: left;

		position: relative;
		min-height: 1px;
		padding-right: $layout_gutter;
		padding-left: $layout_gutter;
	}

	.caption {
		margin-top: .4em;
		line-height: 1em;
	}

	.cols_1 > li { width: 100% ; }
	.cols_2 > li { width: 50% ; }
	.cols_3 > li { width: 33.333334%; }
	.cols_4 > li { width: 25%; }
	.cols_5 > li { width: 20%; }
	.cols_6 > li { width: 16.666667%; }

	@media (max-width: 500px) {
		.cols_2 > li { width: 100% ; }
		.cols_3 > li { width: 50%; }
		.cols_4 > li { width: 50%; }
		.cols_5 > li { width: 50%; }
		.cols_6 > li { width: 50%; }
	}
}






















