
/**
 *  Burger
 */
.menu-burger {
    
    
    transition: opacity 700ms linear 0ms;

    padding: 10px;

    cursor: pointer;
    //font-size: 23px;
    display: block;

    //height: 30px;
    opacity: 0;
    span {
        transition: transform 200ms cubic-bezier(0.63, 0.62, 0.48, 1.64);
        background: $gray-dark;
        display: block;
        width: 30px;
        height: 3px;
    }

    &.close .top {
        transform: rotateZ(45deg) translateX(5px) translateY(5px) !important;
    }

    &.close .bottom {
        transform: rotateZ(-45deg) translateX(5px) translateY(-5px) !important;
        margin-top: 2px;
    }
    &.close .meat {
        opacity: 0;
    }

    .top {
        margin-bottom: 6px;
    }
    .bottom {
        margin-top: 6px;
    }
    .meat {
        transition: opacity 300ms ease-in-out 0ms;
    }
    &.active {
      opacity: 1;
      transform: translateZ(1px);
    }
}



/**
 *  .offcanvas-toggle
 */

    .offcanvas-toggle {
        @include media-breakpoint-up(md) {
            display: none;
        }
        float: right;
        padding-top: 30px;
        cursor: pointer;

        transition-property: scale;
        transition-duration: .35s;
        transform: scale(1);
    }








