/*    -------------------------------------------------------------------------
 *                             offcanvas-sidebar
 *    =========================================================================
 */

.st-menu {
    background-color: $offacanvas_bg;

    .inside {
        padding: 161px 6px 30px 40px;
        color: $gray-dark;
        overflow: hidden;
    }
    .logo {
        display: block;
        position: absolute;
        top: 25px;
        left: 40px;

        width: 8em;
        padding: 0 2em 2em 0;

    }

}

