/*   -------------------------------------------------------------------------
 *                            	b_link
 *   =========================================================================
 */

a, a:visited, a:hover, a:active {
    //font-weight: bold;
    text-decoration: none;
    color: $color_link;
    @extend %transition;
}
a:hover {
    //text-decoration: underline;
    color: $color_link--hover;
}
a:active,
a:focus   {
    outline: none;
    -moz-outline-style: none;
}