/*    -------------------------------------------------------------------------
 *                                  b_layout.scss
 *    =========================================================================
 */


/*
 * colors
 */
html {
    background-color: $color_bg_html;
}
html,
button,
input,
select,
textarea {
    color: $color_font;
}

// background outer
#header,
#wrapper,
#containerWrapper,
#footer {
    background-color: $color_bg_content;
}
// background inner
#header .inside,
#container,
#footer .inside {
    background-color: $color_bg_content;
}

* {
    box-sizing: border-box
}



/*
 *   layout
 */

html {
    font-size: $font_size;
    line-height: $line_height;

    overflow-y: scroll;

    @media (max-width: 767px) {
        font-size: $font_size--small;
    }
    @media (min-width: 1281px) {
        font-size: $font_size--big;
    }
    @media (min-width: 2000px) {
        font-size: $font_size--huge;
    }
}

// width outer
#wrapper,
#footer {
    width: $layout_width + 2*$layout_gutter + 2*$layout_gutter_outer; // 960px = 60em * 16px
    margin: 0 auto;
    @media (max-width: 767px) {
        width: 100%;
        overflow: hidden;
    }
}


// gutter outer
#header,
#containerWrapper,
#footer {
    padding: 0 $layout_gutter_outer;
    @media (max-width: 767px) {
        padding: 0 $layout_gutter_outer / 2;
    }
}

// gutter inner
#header .inside,
#main .inside,
#left .inside,
#right .inside,
#footer .inside {
    padding-left: $layout_gutter;
    padding-right: $layout_gutter;
    @media (max-width: 767px) {
        padding-left: $layout_gutter / 2;
        padding-right: $layout_gutter / 2;
    }
}
// additional padding bottom
#main .inside {
    padding-bottom: $font_size;
}

/*
 * Holy Grail dimensions
 */
#container {
    padding-left:  $layout_left_width;
    padding-right: $layout_right_width;
    @media (max-width: 767px) {
        padding-left: 0;
        padding-right: 0;
    }
}


#left{
    width: $layout_left_width;
    right: $layout_left_width;
    @media (max-width: 767px) {
        width: inherit;
        right: inherit;
        display: none;
    }
}
#right{
    width: $layout_right_width;
    @media (max-width: 767px) {
        width: inherit;
    }
}






/*
 * prevent flickering on repaint
 */
#header,
#main,
#left,
#right,
#footer,
#offcanvas-navbar,
#offcanvas-sidebar {
    transform-style: preserve-3d;
}
