/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: map-get($icon-home, 'width');
}
*/
$facebook: (
  x: 0px,
  y: 0px,
  offset_x: 0px,
  offset_y: 0px,
  width: 25px,
  height: 25px,
  total_width: 60px,
  total_height: 60px,
  image: '../../files/dist/images/spritesheet.png'
);
$facebook_over: (
  x: 35px,
  y: 35px,
  offset_x: -35px,
  offset_y: -35px,
  width: 25px,
  height: 25px,
  total_width: 60px,
  total_height: 60px,
  image: '../../files/dist/images/spritesheet.png'
);

/*
The provided mixins are intended to be used with variables directly

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: map-get($sprite, 'width');
}

@mixin sprite-height($sprite) {
  height: map-get($sprite, 'height');
}

@mixin sprite-position($sprite) {
  background-position: map-get($sprite, 'offset_x') map-get($sprite, 'offset_y');
}

@mixin sprite-image($sprite) {
  background-image: url(map-get($sprite, 'image'));
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
