/*   -------------------------------------------------------------------------
 *                                 gc_defaults
 *   =========================================================================
 */

/*
 * Contao Defauts
 */
header,footer,nav,section,aside,article,figure,figcaption {
    display:block;
}
body,div,h1,h2,h3,h4,h5,h6,p,blockquote,pre,code,ol,ul,li,dl,dt,dd,figure,table,th,td,form,fieldset,legend,input,textarea {
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6 {
    margin-top: $font_size;
}
h1,h2,h3,h4,h5,h6,p,pre,blockquote,table,ol,ul,form {
    margin-bottom: $font_size;
}

/*
 * equal margin-top
 */
#left,
#main,
#right {
    > .inside {
        margin-top: $font_size;
    }
}


