/*    -------------------------------------------------------------------------
 *                             gc_is-loading
 *    =========================================================================
 */

// remove all Transision while Pageload
.is-loading * {
    transition: none !important;
}

// transition img opacity
.image_container {
    img {
        transition-property: opacity;
        transition-duration: .5s;
        transition-timing-function: ease-out;
    }
}

.is-loading {
    .image_container {
        background:transparent url('../images/loading-spinner/loading.gif') center center no-repeat;
    }
    // hide img while loading
    .image_container img {
        opacity: 0;
    }
}
