/*    -------------------------------------------------------------------------
 *                             gc_layout--responsive
 *    =========================================================================
 */

@media ( max-width: $layout_width+2*$layout_gutter_outer )
{
    #container {
        padding-left: 0 !important;
    }
    #left {
        display: none;
    }
}
@media (max-width:767px)
{
    #wrapper {
        margin:0;
        width:auto;
    }
    #container {
        padding-left:0;
        padding-right:0;
    }
    #main,#left,#right {
        float:none;
        width:auto;
    }
    #left {
        right:0;
        margin-left:0;
    }
    #right {
        margin-right:0;
    }
}