/*
 * image_container
 */
.image_container {
    line-height: 1em;
    margin-bottom: .5em;


    // preserve lalyout while page load
    a,
    img {
        display: block;
    }

    img {
        max-width: 100%;
    }

    &.float_left {
        width: 40%;
        margin-right: 1em;
    }
    &.float_right {
        width: 40%;
        margin-left:  1em;
    }


    // figure margins
    @media (max-width: 480px) {
        &.float_right,
        &.float_left {
            float: none !important;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
    }
}

// reset for Gallery
.ce_gallery .image_container {
    width: auto;
}