/*   -------------------------------------------------------------------------
 * 								b_sticky_footer
 *   =========================================================================
 */

#wrapper {
	padding-bottom: $sticky_footer_height;
}
#footer {

	height: $sticky_footer_height;
	margin-top: -$sticky_footer_height;
}


