/*   -------------------------------------------------------------------------
 * 								b_sticky_footer
 *   =========================================================================
 */
.st-content {
	min-height: 100vh;
}
.st-content-inner {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
#wrapper {
	flex: 1;
}


