/*    -------------------------------------------------------------------------
 *                             offcanvas-navbar
 *    =========================================================================
 */

.offcanvas-navbar {
    // margin: 0 $layout_gutter_outer /2;
    padding: 5px 15px 0 15px;
    background-color: white;
}

/**
 * .nav_logo
 */
.offcanvas-navbar {
    .nav_logo {
        transition-property: scale;
        transition-duration: .35s;
        transform: scale(1);
        a {
            display: block;
            overflow: hidden;
            width: 125px;

            img {
                width: 100px;
                max-width: none;
            }
        }
    }
}



/**
 *  Burger
 */
.menu-burger {
    display: block;
    transition: opacity 700ms linear 0ms;

    cursor: pointer;
    //font-size: 23px;
    display: block;

    //height: 30px;
    opacity: 0;
    span {
        transition: transform 200ms cubic-bezier(0.63, 0.62, 0.48, 1.64);
        background: $color_font;
        display: block;
        width: 30px;
        height: 3px;
    }

    &.close .top {
        transform: rotateZ(45deg) translateX(5px) translateY(5px) !important;
    }

    &.close .bottom {
        transform: rotateZ(-45deg) translateX(5px) translateY(-5px) !important;
        margin-top: 2px;
    }
    &.close .meat {
        opacity: 0;
    }

    .top {
        margin-bottom: 6px;
    }
    .bottom {
        margin-top: 6px;
    }
    .meat {
        transition: opacity 300ms ease-in-out 0ms;
    }
    &.active {
      opacity: 1;
      transform: translateZ(1px);
    }
}



/**
 *  .offcanvas-toggle
 */
.offcanvas-navbar {
    .offcanvas-toggle {
        position: absolute;
        right: 15px;
        top: 0;
        padding-top: 30px;
        cursor: pointer;

        transition-property: scale;
        transition-duration: .35s;
        transform: scale(1);
    }
}


/**
 * .offcanvas-navbar.scrolled
 */
.offcanvas-navbar {
    height: 97px;
    border-bottom: 2px solid $color_link;
    border-bottom-width: 0;

    transition-property: height;
    transition-duration: .35s;

    &.scrolledDown {
        height: 60px;
        border-bottom-width: 2px;

        .nav_logo {
            transform: scale(.7);
            transform-origin: 0 0;

        }
        .offcanvas-toggle {
            transform: scale(.7);
            transform-origin: 100% 0;
        }
    }
}






