/*
 * image_container
 */
.image_container {
    line-height: 1em;

    a {
        display: block;
    }

    img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    
    &.float_left,
    &.float_right {
        width: 40%;
    }
    &.float_left {
        float: left;
        margin-right: $grid-gutter-width / 2;
    }
    &.float_right {
        float: right;
        margin-left:  $grid-gutter-width / 2;
    }

    figcaption {
        margin-top: .5em;
    }


    // figure margins
    @include media-breakpoint-down(md) {
        &.float_right,
        &.float_left {
            float: none !important;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
    }
}